@import "bootstrap/bootstrap.less";
@bg-pictogram: @brand-info;
@bg-letter-set: white;
@bg-letter: #FFBC00;
@bg-answer: @bg-letter;
@bc-answer-box: #B58500;
@bg-answer-box-empty: white;
@shadow-letter: #848484;
@shadow-modal-button: #5D5C5C;
@bg-letter-hint: #E91E63;

@ptw-blue: @brand-info;
@ptw-yellow: #FFBC00;
@ptw-orange: #FF920A;
