<div class="row">
    <div class="col-md-12">
        <h1>PicToSoft</h1>
    </div>
</div>
<div class="col-md-8 col-md-offset-2 main-game">
    <div class="row pictogram">
        <div class="col-xs-5">
            <img src="http://lorempixel.com/240/240/cats" alt="Gato" class="img-rounded img-pictogram"/>
        </div>
        <div class="col-xs-2 plus-div">
            <i class="fa fa-plus fa-2x plus-sign" aria-hidden="true"></i>
        </div>
        <div class="col-xs-5">
            <img src="http://lorempixel.com/240/240/city" alt="Cidade" class="img-rounded img-pictogram"/>
        </div>
    </div>
    <div class="row answer">
        <div class="col-xs-12 text-center">
            <span class="answer-box" ng-click="answerBoxClick($index)" ng-class="(letter == '')?'empty': ''" ng-repeat="letter in answerLetters track by $index">{{letter == ''?' ': letter}}</span>
        </div>
    </div>
    <div class="row letter-set">
        <div class="col-xs-12 text-center">
            <span class="letter-span" ng-repeat-start="letter in mock.pictogramas[0].letras track by $index" ng-click="letterClick($index)">{{letter}}</span>
            <br ng-repeat-end ng-if="$index == 6">
            <span class="letter-span-hint" data-toggle="modal" data-target="#hintModal">?</span>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hintModalLabel">Dica</h4>
            </div>
            <div class="modal-body">
                {{mock.pictogramas[0].dica}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
